{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Lista de Estudiantes</h2>

                {% if estudiantes %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="table-secondary">
                                <tr>
                                    <th>Nombre</th>
                                    <th style="width: 1%;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for estudiante in estudiantes %}
                                    <tr>
                                        <td>{{ estudiante.nombre }}</td>
                                        <td class="text-nowrap">
                                            <a href="{% url 'editar_estudiante' estudiante.id %}" class="btn btn-sm btn-outline-secondary">Editar</a>
                                            <a href="{% url 'delete_estudiante' estudiante.id %}" class="btn btn-sm btn-outline-danger">Eliminar</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="text-center">No hay estudiantes registrados.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
