<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Clinica PC{% endblock title%}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body class="text-dark d-flex" style="background-color: #c9c9c9ff;">

    {% block left_navbar %}
    <nav class="text-white" style="background-color: #000000ff; width: 250px; height: 100vh; position: fixed; left: 0; top: 0; overflow-y: auto;">
      <div class="p-3">
        <h5>Clinica PC</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'recepcion' %}">Recepción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'evaluar' %}">Diagnóstico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'reporte' %}">Reporte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'crear_estudiante' %}">Estudiantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'logout' %}">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </nav>
    {% endblock left_navbar %}

    {% block right_navbar %}
    <nav class="text-white" style="background-color: #5f5f5fff; width: 250px; height: 100vh; position: fixed; right: 0; top: 0; overflow-y: auto;">
      <div class="p-3">
        <h5>Opciones</h5>

        {% if is_recepcion %}
        <ul class="nav flex-column mb-3">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'recepcion' %}">Registrar Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'listado_equipos' %}">Listado de Equipos</a>
          </li>
        </ul>

        <h5>Acciones Relacionadas</h5>

        <ul class="nav flex-column mb-3">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'asignar_estudiante' %}">Asignar Estudiante</a>
          </li>
        </ul>
        {% endif %} 

        {% if is_diagnostico %}
         <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'asignar_estudiante' %}">Asignar Estudiante</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'evaluar' %}">Registrar Diagnóstico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'lista_diagnosticos' %}">Listado de Diagnósticos</a>
          </li>
         </ul>

         <h5>Acciones Relacionadas</h5>

        <ul class="nav flex-column mb-3">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'crear_estudiante' %}">Registrar Estudiante</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'reporte' %}">Realizar Reporte</a>
          </li>
        </ul>
        {% endif %}

        {% if is_entrega %}
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'reporte' %}">Reporte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'verificar_entregas' %}">Verificar Entregas</a>
          </li>
        </ul>

        <h5>Acciones Relacionadas</h5>

        <ul class="nav flex-column mb-3">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'asignar_estudiante' %}">Asignar Estudiante</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href=""></a>
          </li>
        </ul>
        {% endif %}

        {% if is_estudiantes %}
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'crear_estudiante' %}">Registrar Estudiante</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'listar_estudiantes' %}">Listado de Estudiantes</a>
          </li>
        </ul>

        <h5>Acciones Relacionadas</h5>

        <ul class="nav flex-column mb-3">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'asignar_estudiante' %}">Asignar Estudiante</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'evaluar' %}">Realizar Diagnóstico</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
    {% endblock right_navbar %}

    <!-- Contenido central -->
    <div class="flex-grow-1" style="margin-left: 250px; margin-right: 250px;">
      <div class="container mt-4">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </body>
</html>
